body{
  margin: 0;
  #cont-contenido{
    height: calc(100vh - 70px);
    max-height: calc(100vh - 70px);
    overflow-y: scroll;
  }
  #cont-view {
    padding: 20px;
    max-width: calc(100vw - 200px);
    width: calc(100vw - 200px);
    float: left;
    height: calc(100vh - 70px);
    max-height: calc(100vh - 70px);
    overflow-y: scroll;
    .cont-view {
      padding: 20px;
    }
  }
}
