#nav{
  height: 70px;
  width: 100vw;
  border-bottom: 1px solid black;

  .img-fluid{
    height: 70px;
    width: auto;
    padding: 10px;

  }

  p{
    margin-bottom: 0px;
  }

  .datos{
    padding-top:10px;
  }
}